/* body */
body {
    background-image: url("assets/images/background.webp");
    font-family: Helvetica, sans-serif;
}

/* header */
.header {
    height: 75px;
    width: 100%;
    background-image: linear-gradient(270deg, #001a8c, #00ccff);
    display: flex;
    margin: auto;
    font-weight: 700;
}

.header-title {
    max-height: 75px;
    padding: 20px 0 0 5px;
    color: #fff;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    margin: 0 auto;
    display: inline-block;
}

/* What is the BMI section */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-BMI {
    font-size: 30px;
    padding: 18px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.BMI-description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

/* BMI Calculator */
.calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin:auto;

}

#bmi-form input[type=text],
#bmi-form input[type=number] {
    border: 1px solid #cfcfcf;
    padding: 5px;
}

#bmi-form input[type=number] {
    width: 100%;
}

#bmi-form input[type=submit] {
    padding: 10px;
    border: 0;
    color: #fff;
    background: #001a8c;
    cursor: pointer;
}

#bmi-form {
    border: 1px solid #eee;
    background: #f2f2f2;
    padding: 20px;
    max-width: 400px;
}

#bmi-form .bmi-label {
    color: #00a8c3;
    font-weight: 700;
    margin: 10px 0;
}

#bmi-form .bmi-row {
    margin-bottom: 20px;
}