/* body */
html {
    scroll-behavior: smooth;
}

body {
    background-image: url("assets/images/abstract.webp");
    font-family: Helvetica, sans-serif;


}

/* header */
.header {
    height: 75px;
    width: 100%;
    background-image: linear-gradient(270deg, #001a8c, #00ccff);
    display: flex;
    margin: auto;
    font-weight: 700;
}

.header-title {
    max-height: 75px;
    padding: 20px 0 0 5px;
    color: #fff;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    margin: 0 auto;
    display: inline-block;
}

/* What is the BMI section */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-BMI {
    font-size: 30px;
    padding: 18px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.BMI-description {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

/* BMI Calculator */
.calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin: auto;
    padding-bottom: 20px;

}

.bmi-header{
    text-align: center;
    font-size:x-large;
}

#bmi-form input[type=text],
#bmi-form input[type=number] {
    border: 1px solid #cfcfcf;
    padding: 5px;
}

#bmi-form input[type=number] {
    width: 100%;
}

#bmi-form input[type=submit] {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background: #00a8c3;
    cursor: pointer;

}

#bmi-form input[type=submit]:hover {
    color: #fff;
    background: #001a8c;
    transition: 0.5s ease-in-out;

}

#bmi-form {
    box-shadow: 5px 5px 5px rgb(66, 65, 65);
    border-radius: 10px;
    background: #b3b1b1;
    padding: 20px;
    max-width: 400px;
    width: 70%;
    margin-top: 50px;
}

#bmi-form .bmi-label {
    color: #001a8c;
    font-weight: 700;
    margin: 10px 0;
}

#bmi-form .bmi-row {
    margin-bottom: 20px;
}

/* How to use BMI calculator*/
.using-BMI {
    font-size: 18px;
    padding: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    position: relative;
}

/* BMI chart */
.fig-chart {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 1140px;
    margin: auto;
}


img {
    max-width: 1500px;
    max-height: 1140x;
}